<head>
 <meta charset="utf-8"/>
 <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport"/>
 <title>
  {{ .Title }}
 </title>
 {{ $pg := . }}
 {{ $scripts := slice "/js/jquery.min.js"  "/js/bootstrap.min.js" "/js/aos.js" "/js/main.js" }}
 {{ $styles := slice "/css/bootstrap.min.css" "/css/animate.min.css" "/css/aos.css" "/css/styles.css" }}
 {{ $fontsStyles := slice "/css/google-Caveat-font.css" }}

 {{ range $styles }}
    {{ $style_template := resources.Get .  }}
    {{ $rendered_css := $style_template | resources.ExecuteAsTemplate (printf "%s/%s" $pg.Lang . ) $pg | resources.Minify | fingerprint }}
    <link href="{{ $rendered_css.RelPermalink }}" rel="stylesheet" integrity="{{ $rendered_css.Data.Integrity }}">
 {{ end }}

  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type='text/css' rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" type='text/css' rel="stylesheet">

 {{ range $fontsStyles }}
    {{ $style_template := resources.Get .  }}
    {{ $rendered_css := $style_template | resources.ExecuteAsTemplate . $pg | resources.Minify | fingerprint }}
    <link href="{{ $rendered_css.RelPermalink }}" rel="stylesheet" integrity="{{ $rendered_css.Data.Integrity }}" type='text/css' >
{{ end }}

 {{ range $scripts }}
    {{ $script_template := resources.Get .  }}
    {{ $rendered_js := $script_template | resources.ExecuteAsTemplate (printf "%s/%s" $pg.Lang . ) $pg | resources.Minify | fingerprint }}
    <script src="{{ $rendered_js.RelPermalink }}" integrity="{{ $rendered_js.Data.Integrity }}"></script>
 {{ end }}

 {{- if .Site.Params.recaptcha -}}
  {{ if .IsTranslated -}}
  <script src='https://www.google.com/recaptcha/api.js?hl={{ .Language.Lang }}' async defer></script>
  {{- else -}}
  <script src='https://www.google.com/recaptcha/api.js' async defer></script>
  {{- end -}}
 {{- end -}}
</head>
