<section class="pb-sections" id="transport">
 <div class="container container-sections" id="container-gift">
  <div class="row">
   <div class="col">
    <div>
     <h1>
      Mezzi di trasporto
     </h1>
    </div>
   </div>
  </div>
  <div class="row">
   <div class="col" data-aos="zoom-in" data-aos-duration="500" id="where-column">
    <div class="text-right">
     <h2 class="text-center">
      Se potete non guidate
     </h2>
    </div>
    <div class="text-right">
     <p class="text-center" style="text-align: left;">
      Vogliamo tutti vivere una bella giornata spensierata, dagli sposi ai testimoni agli invitati. Per questo vi sconsigliamo di guidare e di usufruire del mezzo messo a disposizione dagli sposi.
      <br/>
      Vi daremo presto altre indicazioni qui su come prendere questo mezzo.
     </p>
    </div>
   </div>
  </div>
  <div class="text-right">
  </div>
  <div class="text-right">
  </div>
 </div>
 <a class="continue" href="#gift">
  <div>
   <p style="/*margin-bottom: -2px;*/font-size: 24px;">
    Oddio ma cosa posso regalare?
   </p>
   <i class="fas fa-chevron-down bounce animated infinite" style="font-size: 45px;">
   </i>
  </div>
 </a>
</section>
<section class="pb-sections" id="gift">
 <div class="container container-sections" id="container-gift">
  <div class="row">
   <div class="col">
    <div>
     <h1>
      Cosa possiamo regalare ?
     </h1>
    </div>
   </div>
  </div>
  <div class="row">
   <div class="col" data-aos="zoom-in-up" data-aos-duration="500" id="where-column">
    <div class="text-right">
     <h2 class="text-center">
     </h2>
    </div>
    <div class="text-right">
     <p class="text-center" style="text-align: left;">
      Il nostro solo obiettivo è di passare una bella giornata di celebrazione insieme alle persone più vicine a noi, facendo si di sentirci tutti a nostro agio, quindi Clementina e Paolo non chiederanno nulla di specifico, se non di tenere a mente che dovranno viaggiare per tornare in Scozia e quindi chiedono gentilmente di evitare oggetti ingombranti o "buste" piene di contante.
      <br/>
     </p>
    </div>
    <div class="text-right">
     <p class="text-center" style="text-align: left;">
      Se in ogni caso volete effettuare un regalo e non avete idea di cosa regalre, potete aiutare Clementina e Paolo ad organizzare il loro viaggio tanto atteso donando una quota per la lista nozze presso l'agenzia viaggi Squadro di Bari.
      <br/>
      Squadro Viaggi - via Antonio Lucarelli, 52, Bari
      <br/>
      Tel: +390809149194
      <br/>
     </p>
    </div>
   </div>
  </div>
 </div>
 <a class="continue" href="#rsvp">
  <div>
   <p style="/*margin-bottom: -2px;*/font-size: 24px;">
    OK, allora la mia risposta all'invito é...
   </p>
   <i class="fas fa-chevron-down bounce animated infinite" style="font-size: 45px;">
   </i>
  </div>
 </a>
</section>