<section class="pb-sections" id="when">
 <div class="container container-sections" id="container-when">
  <div class="row">
   <div class="col col-md-3 offset-md-4">
    <div>
     <h1>
      Quando e dove?
     </h1>
    </div>
   </div>
  </div>
  <div class="row" id="where-when-row">
   <div class="col col-md-10 offset-md-1" data-aos="flip-down" data-aos-duration="500">
    <div class="text-center" title="Ora cerimonia e banchetto">
     <ul class="nav nav-pills d-lg-flex justify-content-lg-center tab-selector" role="tablist" style="opacity: 1;">
      <li class="nav-item" role="presentation">
       <a class="nav-link active" data-toggle="pill" href="#tab-1" role="tab">
        <i class="fas fa-heart">
        </i>
        Cerimonia
       </a>
      </li>
      <li class="nav-item" role="presentation">
       <a class="nav-link" data-toggle="pill" href="#tab-2" role="tab">
        <i class="fas fa-glass-cheers">
        </i>
        Rinfresco
       </a>
      </li>
     </ul>
     <div class="tab-content">
      <div class="tab-pane fade show active" id="tab-1" role="tabpanel">
       <div class="row">
        <div class="col">
         <div class="text-right" id="text-body-1">
          <h3 class="text-left">
           11:00 in Masseria Papaperta
          </h3>
          <p class="text-left">
           La cerimonia si terra' alle 10:30 all'ombra della grande quercia della masseria Papaperta.
           <br/>
           In caso di tempo completamente avverso si terra' nell'antica e ristrutturata stalla della masseria.
          </p>
         </div>
        </div>
        <div class="col">
         <iframe allowfullscreen="" class="maps" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBy7yxT9h9N9r0rGclTkjXuycIqaHUH3kc&amp;q=Masseria+Papaperta&amp;zoom=9">
         </iframe>
        </div>
       </div>
      </div>
      <div class="tab-pane fade" id="tab-2" role="tabpanel">
       <div class="row">
        <div class="col">
         <div class="text-right" id="text-body-2">
          <h3 class="text-left">
           A seguire in Masseria Papaperta
          </h3>
          <p class="text-left">
           Subito dopo la celebrazione ci resteremo in masseria per un delicato rinfresco preparato dallo staff di Papaperta.
           <br/>
           Il tutto accompagnato dalle note prevalentemente jazz della band NoveMuse.
           <br/>
           Chiuderemo in bellezza a pomeriggio inoltrato scatenandoci ballando insieme!
          </p>
         </div>
        </div>
        <div class="col">
         <iframe allowfullscreen="" class="maps" frameborder="0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBy7yxT9h9N9r0rGclTkjXuycIqaHUH3kc&amp;q=Masseria+Papaperta&amp;zoom=9">
         </iframe>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
  </div>
 </div>
 <a class="continue" href="#transport">
  <div>
   <p style="/*margin-bottom: -2px;*/font-size: 24px;">
    Come ci arrivo senza auto?
   </p>
   <i class="fas fa-chevron-down bounce animated infinite" style="font-size: 45px;">
   </i>
  </div>
 </a>
</section>