<section class="pb-sections" id="who">
 <a class="continue" href="#when">
  <div>
   <p style="/*margin-bottom: -2px;*/font-size: 24px;">
    Chi ? Dove? Quando?
   </p>
   <i class="fas fa-chevron-down bounce animated infinite" style="font-size: 45px;">
   </i>
  </div>
 </a>
 <div class="container container-sections container-fluid d-block" id="container-who">
  <div class="row">
   <div class="col">
    <div>
     <h1>
      Chi?!
     </h1>
    </div>
   </div>
  </div>
  <div class="row">
    {{ if .carouselPics }}
   <div class="col" data-aos="fade-down-right" data-aos-duration="500">
    <div class="carousel slide border rounded-0 shadow d-inline-block float-left flex-shrink-1" data-interval="false" data-ride="carousel" data-wrap="false" id="carousel-1">
     <div class="carousel-inner d-block">
      {{ range $pic_index, $pic_val := $.carouselPics }}
        {{ if (eq $pic_index 0) }}
      <div class="carousel-item active d-block">
      {{ else }}
      <div class="carousel-item">
      {{ end }}
       <img alt="{{ $pic_val.alt }}" class="w-100 d-block" src="{{ $pic_val.src }}"/>
      </div>
      {{ end }}
     </div>
     <div>
      <a class="carousel-control-prev" data-slide="prev" href="#carousel-1" role="button">
       <span class="carousel-control-prev-icon">
       </span>
       <span class="sr-only">
        Previous
       </span>
      </a>
      <a class="carousel-control-next" data-slide="next" href="#carousel-1" role="button">
       <span class="carousel-control-next-icon">
       </span>
       <span class="sr-only">
        Next
       </span>
      </a>
     </div>
     <ol class="carousel-indicators">
      {{ range $pic_index, $pic_val := $.carouselPics }}
        {{ if (eq $pic_index 0) }}
        <li class="active" data-slide-to="{{ $pic_index }}" data-target="#carousel-1">
      {{ else }}
      <li data-slide-to="{{ $pic_index }}" data-target="#carousel-1">
      {{ end }}
      </li>
      {{ end }}
     </ol>
    </div>
   </div>
   {{ end }}
   <div class="col" data-aos="fade-up-left" data-aos-duration="500">
    <div class="text-right" id="text-body">
     <h2 class="text-right">
      {{ .names }}
     </h2>
     <p>
      Si sono conosciuti a Edimburgo dove hanno iniziato a frequentarsi un giorno di primavera 2018.
      <br/>
     </p>
     <p class="large-screen-text">
      E mentre gustavano il Beltane celebrando l'ascesa della regina Maggio, la primavera li riscaldava, ma i loro sguardi riscaldavano i loro cuori.
      <br/>
     </p>
     <p class="large-screen-text">
      Lí tra Beltane e San Nicola hanno celebrato la primavera con il loro primo bacio.
      <br/>
      Si sono conosciuti sempre meglio, piaciuti, condividendo tanto... persino una congiuntivite fino a decidere di voler stare insieme tutta la vita, e ovunque questa possa portarli vogliono vivere il loro "a lungo felici e contenti" insieme.
      <br/>
     </p>
    </div>
   </div>
  </div>
  <div class="row">
   <div class="col">
    <p class="small-screen-text">
     E mentre gustavano il Beltane celebrando l'ascesa della regina Maggio, la primavera li riscaldava, ma i loro sguardi riscaldavano i loro cuori.
     <br/>
     Lí tra Beltane e San Nicola hanno celebrato la primavera con il loro primo bacio.
     <br/>
     Si sono conosciuti sempre meglio, piaciuti, condividendo tanto... persino una congiuntivite fino a decidere di voler stare insieme tutta la vita, e ovunque questa possa portarli vogliono vivere il loro "a lungo felici e contenti" insieme.
     <br/>
    </p>
   </div>
  </div>
 </div>
</section>