{{ define "main" }}
    {{ $headless := .Site.GetPage "/landing-page" }}
    {{/* Sections are: 
        0: main-greeting - required
        1: who - optional
        2: where - optional
        3: transport - optional
        4: gifts - optional
        5: rsvp - optional
        
        Create each md file under content/landing-page. 
        0 should always be there
       */}}

    {{ $greeting := $headless.Resources.Match "*main-greeting*" }}
    {{ $who := $headless.Resources.Match "who*" }}
    {{ $when := $headless.Resources.Match "when*" }}
    {{ $transport := $headless.Resources.Match "transport*" }}
    {{ $gifts := $headless.Resources.Match "gifts*" }}
    {{ $rsvp := $headless.Resources.Match "rsvp*" }}

    {{ $activeSections := (slice ( dict "part" "main-greeting.html" "content" $greeting) ( dict "part" "who.html" "content" $who) ( dict "part" "when.html" "content" $when) ( dict "part" "transport.html" "content" $transport) ( dict "part" "gifts.html" "content" $gifts) ( dict "part" "rsvp.html" "content" $rsvp "site" .Site) ) }}

    {{- partial  "nav.html" ( dict "context" . "sections" $activeSections ) }}

    {{ $added := slice }}
    {{ range $sec_idx, $sec_val := $activeSections  }}
        {{ $nextsect := slice }}
        {{ if gt ( len $sec_val.content ) 0 }}
            {{ range $sec_inidx, $sec_inval := $activeSections }}
                {{ if and (gt  $sec_inidx $sec_idx ) ( gt ( len $sec_inval.content ) 0 ) (not (in $added (index $sec_val.content 0).Params.sectionId) ) }}
                    {{- partial $sec_val.part  (dict "site" .Site "content" $sec_val.content "nextSection" (index $sec_inval.content 0).Params.sectionId ) -}}
                    {{ $added = $added | append (index $sec_val.content 0).Params.sectionId }}
                    {{ $nextsect := $nextsect | append (index $sec_inval.content 0).Params.sectionId  }}
                {{ end }}
            {{ end }}
            {{ if and (eq (len $nextsect) 0) (not (in $added (index $sec_val.content 0).Params.sectionId)) }}
                {{- partial $sec_val.part  (dict "site" .site "content" $sec_val.content) -}}
                {{ $added = $added | append (index $sec_val.content 0).Params.sectionId }}
            {{ end }}
        {{ end }}
    {{ end }}

    {{- partial "footer" . -}}
{{ end }}
