{{ define "main" }}
    {{ $headless := .Site.GetPage "/landing-page" }}
    {{/* Sections are: 
        0: main-greeting - required
        1: who - optional
        2: where - optional
        3: transport - optional
        4: gifts - optional
        5: rsvp - optional
        
        Create each md file under content/landing-page. 
        0 should always be there
       */}}

    {{ $greeting := $headless.Resources.Match "*main-greeting*" }}
    {{ $who := $headless.Resources.Match "who*" }}
    {{ $when := $headless.Resources.Match "when*" }}
    {{ $transport := $headless.Resources.Match "transport*" }}
    {{ $gifts := $headless.Resources.Match "gifts*" }}
    {{ $rsvp := $headless.Resources.Match "rsvp*" }}

    {{ $activeSections := (slice ( dict "part" "main-greeting.html" "content" $greeting) ( dict "part" "who.html" "content" $who) ( dict "part" "when.html" "content" $when) ( dict "part" "transport.html" "content" $transport) ( dict "part" "gifts.html" "content" $gifts) ( dict "part" "rsvp.html" "content" $rsvp) ) }}

    {{/* {{ $activeSections := (slice ( dict "part" "when.html" "content" $when) ( dict "part" "transport.html" "content" $transport) ) }}*/}}

    {{- partial  "nav.html" ( dict "context" . "sections" $activeSections ) }}

    {{ $added := slice }}
    {{ range $sec_idx, $sec_val := $activeSections  }}
        {{ $nextsect := slice }}
        {{ if gt ( len $sec_val.content ) 0 }}
            {{ range $sec_inidx, $sec_inval := $activeSections }}
                {{ if and (gt  $sec_inidx $sec_idx ) ( gt ( len $sec_inval.content ) 0 ) (not (in $added (index $sec_val.content 0).Params.sectionId) ) }}
                    {{- partial $sec_val.part  (dict "site" .Site "content" $sec_val.content "nextSection" (index $sec_inval.content 0).Params.sectionId ) -}}
                    {{ $added = $added | append (index $sec_val.content 0).Params.sectionId }}
                    {{ $nextsect := $nextsect | append (index $sec_inval.content 0).Params.sectionId  }}
                {{ end }}
            {{ end }}
            {{ if and (eq (len $nextsect) 0) (not (in $added (index $sec_val.content 0).Params.sectionId)) }}
                {{- partial $sec_val.part  (dict "site" .Site "content" $sec_val.content) -}}
                {{ $added = $added | append (index $sec_val.content 0).Params.sectionId }}
            {{ end }}
        {{ end }}
    {{ end }}

 {{/*    {{ if $who }}
        {{ if $when }}
            {{ if $transport }}
                {{ if $gifts }}
                    {{ if $rsvp }}
                        {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "who")  -}}
                        {{- partial "who.html"  (dict "site" .Site "who" $who "nextSection" "when") -}}
                        {{- partial "when.html" (dict "site" .Site "when" (sort $when ".Params.weight") "nextSection" "transport" ) -}}
                        {{- partial "transport.html" (dict "site" .Site "transport" (sort $transport ".Params.weight") "nextSection" "gifts" ) -}}
                        {{- partial "gifts.html" (dict "site" .Site "gifts" $gifts "nextSection" "rsvp" ) -}}
                        {{- partial "rsvp-form.html" (dict "site" .Site "rsvp" $rsvp ) -}}
                    {{ else }}
                        {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "who")  -}}
                        {{- partial "who.html"  (dict "site" .Site "who" $who "nextSection" "when") -}}
                        {{- partial "when.html" (dict "site" .Site "when" (sort $when ".Params.weight") "nextSection" "transport" ) -}}
                        {{- partial "transport.html" (dict "site" .Site "transport" (sort $transport ".Params.weight") "nextSection" "gifts" ) -}}
                        {{- partial "gifts.html" (dict "site" .Site "gifts" $gifts) -}}
                    {{ end }}
                {{ else if $rsvp }}
                    {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "who")  -}}
                    {{- partial "who.html"  (dict "site" .Site "who" $who "nextSection" "when") -}}
                    {{- partial "when.html" (dict "site" .Site "when" (sort $when ".Params.weight") "nextSection" "transport" ) -}}
                    {{- partial "transport.html" (dict "site" .Site "transport" (sort $transport ".Params.weight") "nextSection" "rsvp" ) -}}
                    {{- partial "rsvp-form.html" (dict "site" .Site "rsvp" $rsvp ) -}}
                {{ else }}
                    {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "who")  -}}
                    {{- partial "who.html"  (dict "site" .Site "who" $who "nextSection" "when") -}}
                    {{- partial "when.html" (dict "site" .Site "when" (sort $when ".Params.weight") "nextSection" "transport" ) -}}
                    {{- partial "transport.html" (dict "site" .Site "transport" (sort $transport ".Params.weight") ) -}}
                {{ end }}
            {{ else if $gifts }}
                {{ if $rsvp }}
                    {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "who")  -}}
                    {{- partial "who.html"  (dict "site" .Site "who" $who "nextSection" "when") -}}
                    {{- partial "when.html" (dict "site" .Site "when" (sort $when ".Params.weight") "nextSection" "gifts" ) -}}
                    {{- partial "gifts.html" (dict "site" .Site "gifts" $gifts "nextSection" "rsvp" ) -}}
                    {{- partial "rsvp-form.html" (dict "site" .Site "rsvp" $rsvp ) -}}
                {{ else }}
                    {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "who")  -}}
                    {{- partial "who.html"  (dict "site" .Site "who" $who "nextSection" "when") -}}
                    {{- partial "when.html" (dict "site" .Site "when" (sort $when ".Params.weight") "nextSection" "gifts" ) -}}
                    {{- partial "gifts.html" (dict "site" .Site "gifts" $gifts ) -}}
                {{ end }}
            {{ else if $rsvp }}
                {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "who")  -}}
                {{- partial "who.html"  (dict "site" .Site "who" $who "nextSection" "when") -}}
                {{- partial "when.html" (dict "site" .Site "when" (sort $when ".Params.weight") "nextSection" "rsvp" ) -}}
                {{- partial "rsvp-form.html" (dict "site" .Site "rsvp" $rsvp ) -}}
            {{ else }}
                {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "who")  -}}
                {{- partial "who.html"  (dict "site" .Site "who" $who "nextSection" "when") -}}
                {{- partial "when.html" (dict "site" .Site "when" (sort $when ".Params.weight") ) -}}
            {{ end }}
        {{ else if $transport }}
            {{ if $gifts }}
                {{ if $rsvp }}
                    {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "who")  -}}
                    {{- partial "who.html"  (dict "site" .Site "who" $who "nextSection" "transport") -}}
                    {{- partial "transport.html" (dict "site" .Site "transport" (sort $transport ".Params.weight") "nextSection" "gifts" ) -}}
                    {{- partial "gifts.html" (dict "site" .Site "gifts" $gifts "nextSection" "rsvp" ) -}}
                    {{- partial "rsvp-form.html" (dict "site" .Site "rsvp" $rsvp ) -}}
                {{ else }}
                    {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "who")  -}}
                    {{- partial "who.html"  (dict "site" .Site "who" $who "nextSection" "transport") -}}
                    {{- partial "transport.html" (dict "site" .Site "transport" (sort $transport ".Params.weight") "nextSection" "gifts" ) -}}
                    {{- partial "gifts.html" (dict "site" .Site "gifts" $gifts ) -}}
                {{ end }}
            {{ else if $rsvp }}
                {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "who")  -}}
                {{- partial "who.html"  (dict "site" .Site "who" $who "nextSection" "transport") -}}
                {{- partial "transport.html" (dict "site" .Site "transport" (sort $transport ".Params.weight") "nextSection" "gifts" ) -}}
                {{- partial "rsvp-form.html" (dict "site" .Site "rsvp" $rsvp ) -}}
            {{ else }}
                {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "who")  -}}
                {{- partial "who.html"  (dict "site" .Site "who" $who "nextSection" "transport") -}}
                {{- partial "transport.html" (dict "site" .Site "transport" (sort $transport ".Params.weight") ) -}}
            {{ end }}
        {{ else if $gifts  }}
            {{ if $rsvp }}
                {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "who")  -}}
                {{- partial "who.html"  (dict "site" .Site "who" $who "nextSection" "gifts") -}}
                {{- partial "gifts.html" (dict "site" .Site "gifts" $gifts "nextSection" "rsvp" ) -}}
                {{- partial "rsvp-form.html" (dict "site" .Site "rsvp" $rsvp ) -}}
            {{ else }}
                {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "who")  -}}
                {{- partial "who.html"  (dict "site" .Site "who" $who "nextSection" "gifts") -}}
                {{- partial "gifts.html" (dict "site" .Site "gifts" $gifts ) -}}
            {{ end }}
        {{ else if $rsvp }}
            {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "who")  -}}
            {{- partial "who.html"  (dict "site" .Site "who" $who "nextSection" "rsvp") -}}
            {{- partial "rsvp-form.html" (dict "site" .Site "rsvp" $rsvp ) -}}
        {{ else }}
            {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "who")  -}}
            {{- partial "who.html"  (dict "site" .Site "who" $who) -}}
        {{ end }}
    {{ else if $when }}
        {{ if $transport }}
            {{ if $gifts }}
                {{ if $rsvp }}
                    {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "when")  -}}
                    {{- partial "when.html" (dict "site" .Site "when" (sort $when ".Params.weight") "nextSection" "transport" ) -}}
                    {{- partial "transport.html" (dict "site" .Site "transport" (sort $transport ".Params.weight") "nextSection" "gifts" ) -}}
                    {{- partial "gifts.html" (dict "site" .Site "gifts" $gifts "nextSection" "rsvp" ) -}}
                    {{- partial "rsvp-form.html" (dict "site" .Site "rsvp" $rsvp ) -}}
                {{ else }}
                    {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "when")  -}}
                    {{- partial "when.html" (dict "site" .Site "when" (sort $when ".Params.weight") "nextSection" "transport" ) -}}
                    {{- partial "transport.html" (dict "site" .Site "transport" (sort $transport ".Params.weight") "nextSection" "gifts" ) -}}
                    {{- partial "gifts.html" (dict "site" .Site "gifts" $gifts) -}}
                {{ end }}
            {{ else if $rsvp }}
                {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "when")  -}}
                {{- partial "when.html" (dict "site" .Site "when" (sort $when ".Params.weight") "nextSection" "transport" ) -}}
                {{- partial "transport.html" (dict "site" .Site "transport" (sort $transport ".Params.weight") "nextSection" "rsvp" ) -}}
                {{- partial "rsvp-form.html" (dict "site" .Site "rsvp" $rsvp ) -}}
            {{ else }}
                {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "when")  -}}
                {{- partial "when.html" (dict "site" .Site "when" (sort $when ".Params.weight") "nextSection" "transport" ) -}}
                {{- partial "transport.html" (dict "site" .Site "transport" (sort $transport ".Params.weight") ) -}}
            {{ end }}
        {{ else if $gifts }}
            {{ if $rsvp }}
                {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "when")  -}}
                {{- partial "when.html" (dict "site" .Site "when" (sort $when ".Params.weight") "nextSection" "gifts" ) -}}
                {{- partial "gifts.html" (dict "site" .Site "gifts" $gifts "nextSection" "rsvp" ) -}}
                {{- partial "rsvp-form.html" (dict "site" .Site "rsvp" $rsvp ) -}}
            {{ else }}
                {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "when")  -}}
                {{- partial "when.html" (dict "site" .Site "when" (sort $when ".Params.weight") "nextSection" "gifts" ) -}}
                {{- partial "gifts.html" (dict "site" .Site "gifts" $gifts ) -}}
            {{ end }}
        {{ else if $rsvp }}
            {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "when")  -}}
            {{- partial "when.html" (dict "site" .Site "when" (sort $when ".Params.weight") "nextSection" "rsvp" ) -}}
            {{- partial "rsvp-form.html" (dict "site" .Site "rsvp" $rsvp ) -}}
        {{ else }}
            {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "when")  -}}
            {{- partial "when.html" (dict "site" .Site "when" (sort $when ".Params.weight") ) -}}
        {{ end }}
    {{ else if $transport }}
        {{ if $gifts }}
            {{ if $rsvp }}
                {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "transport")  -}}
                {{- partial "transport.html" (dict "site" .Site "transport" (sort $transport ".Params.weight") "nextSection" "gifts" ) -}}
                {{- partial "gifts.html" (dict "site" .Site "gifts" $gifts "nextSection" "rsvp" ) -}}
                {{- partial "rsvp-form.html" (dict "site" .Site "rsvp" $rsvp ) -}}
            {{ else }}
                {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "transport")  -}}
                {{- partial "transport.html" (dict "site" .Site "transport" (sort $transport ".Params.weight") "nextSection" "gifts" ) -}}
                {{- partial "gifts.html" (dict "site" .Site "gifts" $gifts) -}}
            {{ end }}
        {{ else if $rsvp }}
            {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "transport")  -}}
            {{- partial "transport.html" (dict "site" .Site "transport" (sort $transport ".Params.weight") "nextSection" "rsvp" ) -}}
            {{- partial "rsvp-form.html" (dict "site" .Site "rsvp" $rsvp ) -}}
        {{ else }}
            {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "transport")  -}}
            {{- partial "transport.html" (dict "site" .Site "transport" (sort $transport ".Params.weight") ) -}}
        {{ end }}
    {{ else if $gifts }}
        {{ if $rsvp }}
            {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "gifts")  -}}
            {{- partial "gifts.html" (dict "site" .Site "gifts" $gifts "nextSection" "rsvp" ) -}}
            {{- partial "rsvp-form.html" (dict "site" .Site "rsvp" $rsvp ) -}}
        {{ else }}
            {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "gifts")  -}}
            {{- partial "gifts.html" (dict "site" .Site "gifts" $gifts ) -}}
        {{ end }}
    {{ else if $rsvp }}
        {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting "nextSection" "rsvp")  -}}
        {{- partial "rsvp-form.html" (dict "site" .Site "rsvp" $rsvp ) -}}
    {{ else }}
        {{- partial "main-greeting.html"  (dict "site" .Site "greeting" $greeting)  -}}
    {{ end }} */}}
    {{- partial "footer" . -}}
{{ end }}
